.dashboard-body{
    z-index: -1;
    background-color: rgb(51, 50, 50);
    width: 100%;
    min-height: 100vh;
}

.dash-top{
    background-color: #1a1818;
    padding: 80px 60px 80px 120px;
    width: 100vw;
    height: 250px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-subheader{
    font-size: 18px;
}

.job-post{
    padding: 10px 20px;
    height: max-content;
    border-radius: 3px;
    background-color: rgb(62, 167, 209);
    color: white;
    right: 5px;
    border-style: none;
    transition-duration: 0.3s;
    font-size: 18px;
    letter-spacing: 1px;
}

.job-post:hover{
    background-color:  rgb(5, 150, 207);
}

.card-container{
    width: 90%;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-47%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dash-card{
    width: 40vw;
    height: 45vh;
    background-color:#00ac69;
    border-radius: 5px;
    padding: 20px;
}

.card-1{
    background-color: #f4a101;
}

.graph{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50%;
}

.card-legend{
    color: white;
    font-weight: 800;
}

.rating-image{
    width: 30%;
    object-fit: cover;
    object-position: 50%;
    position: absolute;
    bottom: 0;
    right: -25px;
    filter: saturate(2);
    opacity: 0.7;
}

.salary-box{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.experience-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.salary-text-box{
    margin: 15px;
    width: 65px;
    height: 25px;
}

@media (max-width: 1080px){
    .dash-top{
        padding: 80px 120px;
    }
}

@media (max-width: 720px){
    .dashboard-body{
        height: 150vh;
    }

    .dash-top{
        padding: 80px 80px;
    }

    .dash-subheader{
        font-size: 12px;
        letter-spacing: 0.75px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dash-card{
        width: 70vw;
        margin: 15px 0px;
        padding: 10px;
    }

    .rating-image{
        bottom: 25px;
        right: 100px;
    }

}