.main-container{
    background-color: #1a1818;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 70px;
}

.main-box{
    width: 100%;
    margin-right: 25px;
}

.dashboard{
    display: none;
}

@media (min-width: 820px){
    .dashboard{
        display: block;
    }

    .main-box{
        width: 60%;
    }
}