<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindMe | Designer Portfolio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/profile_style.css' %}">
</head>

<body>
    <header>
        <img src='https://eshendetesia.com/images/user-profile.png' class='profileImage'>
        <h3>I'M LORD MANI</h3>
        <h1>Full Stack Developer</h1>
    </header>
    <div class="container">
        <p id="p1">Hi there,</p>
        <p id="p2">I'm Lord Mani</p>
        <p class="about">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum perferendis error
            debitis deleniti obcaecati nisi dignissimos doloribus omnis incidunt neque.
            Aspernatur, odit. Natus, porro adipisci corporis perspiciatis aspernatur illum
            repellendus vitae explicabo, ex reiciendis molestiae id dicta quos repudiandae at.
        </p>

    </div>
    <div class="container2">
        <p id="title">My Skills</p>
        <div class="skill-set">
            <p class="skill-text">HTML, CSS</p>
            <span class="back-bar">
                <div class="front-bar css" id="css"></div>
            </span>
            <p class="skill-text">React</p>
            <span class="back-bar">
                <div class="front-bar react" id="react"></div>
            </span>
            <p class="skill-text">Django</p>
            <span class="back-bar">
                <div class="front-bar django" id="django"></div>
            </span>
            <p class="skill-text">Flutter</p>
            <span class="back-bar">
                <div class="front-bar flutter" id="flutter"></div>
            </span>
        </div>

    </div>
    <div class="container3">
        <p id="p1">
            Hellow <br />
            && <br />
            Welcome
        </p>
        <p class="p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum perferendis error
            debitis deleniti obcaecati nisi dignissimos doloribus omnis incidunt neque.
            Aspernatur, odit. Natus, porro adipisci corporis perspiciatis aspernatur illum
            repellendus vitae explicabo, ex reiciendis molestiae id dicta quos repudiandae at.
        </p>

    </div>
    <script src="viewport.js"></script>
</body>

</html>